<app-header></app-header>
<!-- <app-home></app-home> -->
 <!-- <app-login></app-login> -->

 <!-- <app-register></app-register> -->
<!-- <app-contribute-polls></app-contribute-polls> -->

<!-- <app-education-center></app-education-center> -->
 <!-- <app-incident-report></app-incident-report> -->
  <!-- <app-feedback-management></app-feedback-management> -->
<!-- <app-admin></app-admin> -->

<!-- <app-polls-management></app-polls-management> -->

<!-- <app-official></app-official> -->

<router-outlet></router-outlet>
