
<div class="header">
    <H1>WELCOME TO CITIZEN CONNECT 360</H1>
    <img src="https://img.freepik.com/premium-photo/astrological-forecast-zodiac-signs_101969-2833.jpg?w=740">
</div>

<div class="docs">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">
    <img src = "https://cdn.pixabay.com/photo/2016/03/27/19/32/book-1283865_640.jpg">

</div>
 <div class="about">
    <h2>About Us</h2>
    <p>Our main aim is to educate the citizens of the Republic of Kenya. We aim to achieve transparency ang also honesty by serving kenyans</p>
 </div>

 <div class="contact">
    <h2>Contact us</h2>
    <ul>
        <p>Email: Connect360GOK.COM</p>
        <P>Twitter: Connect360</P>
        <p>Phone: +25470000000</p>
    </ul>

 </div>

 <div class="footer">
    <p>copyrights 2024. All Rights Reserved Citizen Connect 360 </p>
 </div>
