body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
    margin-top: 50px; /* Space from the top */
}

.form-box {
    background-color: #002366;
    padding: 60px 30px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aquamarine;
}

.form-box p{
    color: white;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input::placeholder {
    color: #999999;
}


.terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.terms input {
    margin-right: 10px;
}

.terms label {
    color: #1698cf;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3c1777;
    color: #e3e4e6;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #76b0d0;
}

p {
    text-align: center;
    margin-top: 100px;
    color: #000405;
    background-color: hsla(201, 25%, 62%, 0.898);
}

p a {
    color: aquamarine;
    cursor: pointer;
}